@using System.Security.Claims
@model List<Order>
@{
    ViewData["Title"] = "Личный кабинет";
}
<h2 class="admin_panel">Учетная запись пользователя</h2>
<p class="hello_user">Добрый день,  @User.FindFirst(x => x.Type == ClaimTypes.Name).Value!</p>

@if (User.FindFirst(x => x.Type == ClaimTypes.Role).Value == "User")
{
    <h3 class="admin_panel_name">История заказов пользователя</h3>
}
else
{
    <h3 class="admin_panel_name">Панель администратора управления заказами</h3>
}
<div class="container-md">
    @if (User.FindFirst(x => x.Type == ClaimTypes.Role).Value == "User")
    {
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col"><span>Номер <br> заказа</span></th>
                    <th scope="col"><span>Дата <br> создания</span></th>
                    <th scope="col"><span>Название <br> зала</span></th>
                    <th scope="col"><span>Дата и время <br> начала оренды</span></th>
                    <th scope="col"><span>Дата и время <br> окончания оренды</span></th>
                    <th scope="col"><span>Цена <br> заказа</span></th>
                    <th scope="col"><span>Статус</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="">
                        <th scope="row"><span>@item.IdOrder</span></th>
                        <td><span>@item.CreatingDate</span></td>
                        <td><span>@item.FkHallNavigation.Name</span></td>
                        <td><span>@item.StartHallReserving</span></td>
                        <td><span>@item.EndHallReserving</span></td>
                        <td><span>@item.TotalCost</span></td>
                        <td><span>@item.FkStatusNavigation.Name</span></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr class="">
                    <th scope="col"><span>Номер <br> заказа</span></th>
                    <th scope="col"><span>Имя <br> клиента</span></th>
                    <th scope="col"><span>Фамилия <br> клиента</span></th>
                    <th scope="col"><span>Номер <br> телефона</span></th>
                    <th scope="col"><span>Дата <br> создания</span></th>
                    <th scope="col"><span>Цена <br> заказа</span></th>
                    <th scope="col"><span>Статус</span></th>
                    <th colspan="2"><span>Управление</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr class="">
                        <th scope="row"><span>@booking.IdOrder</span></th>
                        <td><span>@booking.FkRenterNavigation.Name</span></td>
                        <td><span>@booking.FkRenterNavigation.Surname</span></td>
                        <td><span>@booking.FkRenterNavigation.PhoneNumber</span></td>
                        <td><span>@booking.CreatingDate</span></td>
                        <td><span>@booking.TotalCost</span></td>
                        <td><span>@booking.FkStatusNavigation.Name</span></td>
                        <td colspan="2">
                            @if (booking.FkStatusNavigation.Name == "Новый")
                            {
                                <form method="get" class="control-form d-flex justify-content-around">
                                    <input type="number" value="@booking.IdOrder" name="IdBooking" />
                                    <button asp-controller="Manage" asp-action="ManageBooking" class="btn btn-outline-primary">Просмотр</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" class="control-form d-flex justify-content-around">
                                    <input type="number" value="@booking.IdOrder" name="IdBooking" />
                                    @if (booking.FkStatusNavigation.Name == "Ожидает оплаты")
                                    {
                                        <button asp-action="UpdateBookingStatus" asp-controller="Manage" class="btn btn-outline-warning">Подтвердить</button>
                                        <button asp-controller="Manage" asp-action="DeleteBooking" class="btn btn-outline-danger">Удалить</button>
                                    }
                                    else
                                    {
                                        <button asp-action="UpdateBookingStatus" asp-controller="Manage" class="btn btn-outline-success">Выполнен</button>
                                        <button asp-controller="Manage" asp-action="CancelBooking" class="btn btn-outline-danger">Отменить</button>
                                    }
                                </form>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


