@using System.Security.Claims
@model List<Order>
@{
    ViewData["Title"] = "Личный кабинет";
}
<h2 class="admin_panel">Учетная запись пользователя</h2>
<p class="hello_user">Добрый день,  @User.FindFirst(x => x.Type == ClaimTypes.Name).Value!</p>

@if (User.FindFirst(x => x.Type == ClaimTypes.Role).Value == "User")
{
    <h3 class="admin_panel_name">История заказов пользователя</h3>
}
else
{
    <h3 class="admin_panel_name">Панель администратора управления заказами</h3>
}
@if (User.FindFirst(x => x.Type == ClaimTypes.Role).Value == "User")
    {
        <table class="account_booking">
        <tr class="account_booking_item">
            <td><span>Номер <br> заказа</span></td>
            <td><span>Дата <br> создания</span></td>
            <td><span>Название <br> зала</span></td>
            <td><span>Дата и время <br> начала оренды</span></td>
            <td><span>Дата и время <br> окончания оренды</span></td>
            <td><span>Цена <br> заказа</span></td>
            <td><span>Статус</span></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="account_booking_item">
                <td><span>@item.IdOrder</span></td>
                <td><span>@item.CreatingDate</span></td>
                <td><span>@item.FkHallNavigation.Name</span></td>
                <td><span>@item.StartHallReserving</span></td>
                <td><span>@item.EndHallReserving</span></td>
                <td><span>@item.TotalCost</span></td>
                <td><span>@item.FkStatusNavigation.Name</span></td>
            </tr>
        }
        </table> 
    }
    else
        {
        <table class="account_booking admin-check">
        <tr class="account_booking_item ">
            <td><span>Номер <br> заказа</span></td>
            <td><span>Имя <br> клиента</span></td>
            <td><span>Фамилия <br> клиента</span></td>
            <td><span>Номер <br> телефона</span></td>
            <td><span>Дата <br> создания</span></td>
            <td><span>Название <br> зала</span></td>
            <td><span>Дата и время <br> начала оренды</span></td>
            <td><span>Дата и время <br> окончания оренды</span></td>
            <td><span>Цена <br> заказа</span></td>
            <td><span>Статус</span></td>
            <td><span>Управление</span></td>
        </tr>
        @foreach (var booking in Model)
        {
            <tr class="account_booking_item">
                <td><span>@booking.IdOrder</span></td>
                <td><span>@booking.FkRenterNavigation.Name</span></td>
                <td><span>@booking.FkRenterNavigation.Surname</span></td>
                <td><span>@booking.FkRenterNavigation.PhoneNumber</span></td>
                <td><span>@booking.CreatingDate</span></td>
                <td><span>@booking.FkHallNavigation.Name</span></td>
                <td><span>@booking.StartHallReserving</span></td>
                <td><span>@booking.EndHallReserving</span></td>
                <td><span>@booking.TotalCost</span></td>
                <td><span>@booking.FkStatusNavigation.Name</span></td>
                <td class="control_of_booking">
                    <form method="post">
                        <input type="number" value="@booking.IdOrder" name="idBooking">
                        @if (booking.FkStatusNavigation.Name != "Подтвержден")
                        {
                            <button asp-action="UpdateBookingStatus" asp-controller="Manage" class="update_button">Подтвердить</button>
                            <button asp-controller="Manage" asp-action="DeleteBooking" class="cancel_button">Удалить</button>
                        }
                        else
                        {
                            <button asp-action="UpdateBookingStatus" asp-controller="Manage" class="update_button">Выполнен</button>
                            <button asp-controller="Manage" asp-action="CancelBooking" class="cancel_button">Отменить</button>
                        }
                    </form>
                </td>
            </tr>
             
        }
        </table> 
    }

