@model List<Hall>
@{
    ViewData["Title"] = "Каталог залов";
}
<h2 class="catalog_name">Каталог залов</h2>
<article class="catalog_table">
@foreach (var hall in @Model)
{
    <div class="catalog_table_item">
        <div class="item_image">
            <img src="@hall.Image" alt="@hall.Name" />
        </div>
        <div class="item_description">
            <p class="catalog_hall_name">@hall.Name</p>
            <p class="catalog_hall_description">@hall.Description</p>
            <p class="catalog_hall_price">@hall.Price грн</p>
        </div>
    </div>
    
}
</article>